{{- /* Generate favicons from assets/img/dei_git_pic.png */ -}}
{{- $src := resources.Get "img/dei_git_pic.png" -}}
{{- if $src -}}
  {{- $icon16 := $src.Fit "16x16 png" -}}
  {{- $icon32 := $src.Fit "32x32 png" -}}
  {{- $apple := $src.Fit "180x180 png" -}}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $icon16.RelPermalink }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $icon32.RelPermalink }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ $apple.RelPermalink }}">
{{- end -}}

