{{- /* Usage: {{< assetimg src="img/grainger_group_photo.jpg" alt="..." class="cert-photo" caption="Your caption" >}} */ -}}
{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $class := .Get "class" | default "" -}}
{{- $caption := .Get "caption" -}}
{{- with resources.Get $src -}}
  {{- if $caption -}}
  <figure class="cert-figure {{- if eq $class "center-image" }} center-image{{- end }}">
    <img src="{{ .RelPermalink }}" alt="{{ $alt }}" class="{{ $class }}" loading="lazy"/>
    <figcaption>{{ $caption }}</figcaption>
  </figure>
  {{- else -}}
  <img src="{{ .RelPermalink }}" alt="{{ $alt }}" class="{{ $class }}" loading="lazy"/>
  {{- end -}}
{{- end -}}


