<div class="project-container">
    {{ range sort .Site.Data.projects "date" "desc" }}
    {{ $cardClass := "project-card" }}
    {{ if .featured }}
        {{ $cardClass = "project-card featured" }}
    {{ end }}
    {{ if .internal }}
        {{ $cardClass = printf "%s project-internal" $cardClass }}
    {{ else }}
        {{ $cardClass = printf "%s project-external" $cardClass }}
    {{ end }}
    
    {{ if .internal }}
        <a href="{{ .url }}" class="{{ $cardClass }}">
    {{ else }}
        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" class="{{ $cardClass }}">
    {{ end }}
        <div>
            <h3 class="project-name">
                {{ if .icon }}
                    {{ if eq .icon "github" }}
                        {{ $iconDark := resources.Get "icons/github.svg" }}
                        {{ $iconLight := resources.Get "icons/github-white.svg" }}
                        <img src="{{ $iconDark.Permalink }}" alt="GitHub" class="icon icon-dark" />
                        <img src="{{ $iconLight.Permalink }}" alt="GitHub" class="icon icon-light" />
                    {{ else if eq .icon "link" }}
                        {{ $icon := resources.Get "icons/link.svg" }}
                        <img src="{{ $icon.Permalink }}" alt="Link" class="icon" />
                    {{ else if strings.HasSuffix .icon ".svg" }}
                        {{ $icon := resources.Get (printf "icons/%s" .icon) }}
                        {{ if $icon }}
                            <img src="{{ $icon.Permalink }}" alt="Icon" class="icon" />
                        {{ else }}
                            <span class="emoji-icon">🔗</span>
                        {{ end }}
                    {{ else }}
                        <!-- Treat as emoji or text -->
                        <span class="emoji-icon">{{ .icon }}</span>
                    {{ end }}
                {{ else if .internal }}
                    {{ $icon := resources.Get "icons/link.svg" }}
                    <img src="{{ $icon.Permalink }}" alt="Project" class="icon" />
                {{ else if strings.Contains .url "github.com" }}
                    {{ $iconDark := resources.Get "icons/github.svg" }}
                    {{ $iconLight := resources.Get "icons/github-white.svg" }}
                    <img src="{{ $iconDark.Permalink }}" alt="GitHub" class="icon icon-dark" />
                    <img src="{{ $iconLight.Permalink }}" alt="GitHub" class="icon icon-light" />
                {{ else }}
                    {{ $icon := resources.Get "icons/link.svg" }}
                    <img src="{{ $icon.Permalink }}" alt="Link" class="icon" />
                {{ end }}
                {{ .name }}
            </h3>
            <p class="project-date">{{ .date | time.Format "January 2006" }}</p>
            <p class="project-description">{{ .description }}</p>
        </div>
        <div class="project-tags">
            {{ range .tags }}
            <span class="project-tag">{{ . }}</span>
            {{ end }}
        </div>
    </a>
    {{ end }}
</div>
